<h1>Fill out the form and count how many times your word occurs in your phrase</h1>
<form action='/result' method='get'>
  <div class="form-group">
    <label for="input-phrase">A phrase:</label>
    <input id="input-phrase" name="input-phrase" class="form-control" type="text" placeholder="Example phrase: Peter picked a peck of pickled peppers">
  <div>
  <br>
  <div class="form-group">
    <label for="input-word">A word:</label>
    <input id="input-word" name="input-word" class="form-control" type="text" placeholder="Example word: picked">
  <div>
  <br>
  <button type="submit" class="btn-primary btn-lg">Submit</button>
</form>
