<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title>Word Count</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"/>
    <link href="public/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
